.links a.about {
    display: flex;
    color:black;
    background-color: white;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: left;
    background-position: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.links a.pakketten {
    background: url('./img/bottles.jpg') no-repeat center center;
    background-size: cover;
}

.links a.pakketten:hover::before {
    content: 'Kosten';
    position: fixed;

    display: inline-block;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: inherit;

    transition: inherit;
    background-image: url('./img/Fancy.svg');
    background-size: cover;
    display: block;
    padding: 20% 0;

    font-size: 2rem;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    box-shadow: 0 0 5px #666;
    border-radius: 2px;
    border: 1px solid #F8E9A1;
    background-color: #374785;

    z-index: 100;

    padding-top: 20%;
    padding-top: calc(20% + 1px);
}

.links a.about:hover::before {
    content: 'Contact';
    position: fixed;

    display: inline-block;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: inherit;

    transition: inherit;
    background-image: url('./img/Fancy.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 100;

    padding-top: 20%;
    padding-top: calc(20% + 1px);
    border-radius: 2px;
    border: 1px solid #F8E9A1;
}

.links a:hover::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: inherit;
  transition: inherit;

  z-index: -1;
  background-color: #F8E9A1;

  -webkit-transform: translate(-8px, 8px);
  -moz-transform: translate(-8px, 8px);
  -ms-transform: translate(-8px, 8px);
  transform: translate(-8px, 8px);
}

/* h2 {
  border-bottom: 3px solid #f8E9A1;
} */

/* h2::after {
  content: "";
  display: block;
  width: 20ch;
  padding-top: 3px;
  border-bottom: 5px solid #f8E9A1;
} */
