body {
    font-family: 'Noa', , sans-serif;
     @font-face { font-family: Noa; src: url("fonts/Noa-LT-Std_33006.ttf"); }
}

body.sub {
    padding-top: 56px;
}

.navbar {
    background-color: #000;
}

#hero {
    text-align: center;
    padding: 100px 20px;
    /* background-color: #f7cac9; */
    background: url('./img/biljana-martinic-1311746-unsplash.jpg') no-repeat center center;
    background-size: cover;
    color: #FFF;
}


/* #hero img {
    width: 100%;
    box-shadow: 0 0 10px #000;
} */

#hero img.logo {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

#hero p {
    max-width: 600px;
    margin: 0 auto;
}

#title {
    color: #FFF;
}

#title h1 {
    padding: 80px 0;
}

#title.about {
    background: url('./img/about.jpg') no-repeat center center;
    background-size: cover;
}

#title.pakketten {
    background: url('./img/filter.png') repeat, url('./img/bottles.jpg') no-repeat center center;
    background-size: cover;
}

.main {
    padding: 80px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.main strong {
    color: #f7cac9;
}

h3 {
    font-family: 'Noa';
}

/* Columns for tablet size and bigger */
@media (min-width: 767.98px) {
    .main .pakketdescription {
        column-count: 2;
    }
}

.main p.intro {
    font-weight: 700;
}

.main img.divider {
    height: 40px;
}

.main img.profile {
    width: 60%;
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.main a.btn {
    border: 2px solid #f7cac9;
    color: #851B00;
}

.main a.btn:hover {
    background-color: #f7cac9;
    color: #FFF;
}

.links {
    padding: 0 0 40px;
}

.links .col-md {
    /* background-color: red; */
    padding: 0 30px 40px;
}

.links a {
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
    text-decoration: none;
    box-shadow: 0 0 5px #666;
    border-radius: 2px;
    transition: transform 200ms ease-out;
}

.links a:hover {
    transform: scale(1.02, 1.02);
}

.links a span {
    display: block;
    padding: 20% 0;
    color: #FFF;
    font-size: 2rem;
}

.links a.about {
    background: url('./img/about.jpg') no-repeat center center;
    background-size: cover;
}

.links a.pakketten {
    background: url('./img/bottles.jpg') no-repeat center center;
    background-size: cover;
}

.footer {
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 40px 0 0;
    font-size: 0.8rem;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}

.footer .col-md {
    padding-bottom: 40px;
}
