.links a:hover {
-webkit-transform: translate(4px, -4px);
-moz-transform: translate(4px, -4px);
-ms-transform: translate(4px, -4px);
transform: translate(4px, -4px);



/* .links a:hover {
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px); */
}
.links a {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    min-height: 11.25rem;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
    background-color: #ffffff;
    color: #10162f;
    border-top-color: #10162f;
    border-right-color: #10162f;
    border-bottom-color: #10162f;
    border-left-color: #10162f;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 200ms -webkit-transform ease;
    transition: 200ms transform ease;
}
::before, ::after {
    box-sizing: border-box;
}



.links a:before {
    box-shadow: none;
    z-index: -1;
}
.links a:after, .links a:before {
  content: '';
  position: absolute;
  background-color: inherit;
  border-width: inherit;
  border-color: inherit;
  border-radius: inherit;
  border-style: inherit;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: inherit;
  transition: inherit;
}


.links a:hover:after {
    -webkit-transform: translate(-8px, 8px);
    -moz-transform: translate(-8px, 8px);
    -ms-transform: translate(-8px, 8px);
    transform: translate(-8px, 8px);
}

.links a:after {
    z-index: -2;
    background-color: #10162f;
}
